################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs/ConsoleEnumTest/v16
/ConsoleEnumTest/bin/Debug
/ConsoleEnumTest/obj/Debug
